# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore Git
.git
.gitignore

# Ignore environment/config files
.env

# Ignore OS/system files
.DS_Store
Thumbs.db
